* {
    margin: 0;
    padding: 0;
}
body {
    padding-top: 10px;
}

#allCanvas {
    width: 800px;
    height: 600px;
    position: relative;
    margin:0 auto;
}
#canvas1, #canvas2 {
    position: absolute;
    top: 0;
    left: 0;
}
#canvas1 {
    z-index: 1;
}
#canvas2 {
    z-index: 0;
}
#again {
    display: inline-block;
    position: absolute;
    left: 50%;
    top:100px;
    width: 100px;
    background-color: red;
    font-size: 24px;
    color: #000;
    border-radius: 5px;
    text-align: center;
    margin-left: -50px;
    box-shadow: 5px 5px 5px black;
    z-index: 3;
    display: none;
    cursor:pointer;
    font-weight:bold;
}